<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title %></title>
    <link rel='stylesheet' href='/stylesheets/stile.css'/>
</head>
<body>
    <head>
        <h1><%= title%></h1>
    </head>
    <div role="main">
        <table>
            <% for(var i in content) { %>
            <tr>
                <% var obj = content[i]; %>
                <th> <%= obj.id %></th>
                <td> <%= obj.name %></td>
                <td> <%= obj.mail %></td>
                <td> <%= obj.age %></td>
            </tr>
            <% } %>
        </table>
    </div>
</body>
</html>